.content {
    max-width: 1200px;
    text-align: center;
    margin:0 auto;
}
.team {
    padding:27px;
    border: 1px solid #000;
}
table {
    width: 100%;
    margin-bottom:20px;
}
thead {
    width:100%;
}
tbody {
    width:100%;
    display: none;
}
tbody.on {
    display:contents;
}
th {
    background: #EFEFEF;
}
td,th {
    border: 1px solid #000;
    padding:4px;
}
td, th {
    width:20%;
}
.team-name {
    cursor: pointer;
    &:hover {
        background: #EFEFEF;
    }
}