<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="content" role="main">
  <h1>CanCon Pool</h1>
  <table *ngFor="let teamStat of teamStats">
    <thead>
      <tr>
        <th
          colspan="2"
          class="team-name"
          (click)="expandTeam(teamStat.teamName.toLowerCase())"
        >
          {{ teamStat.teamName }}
        </th>
        <td style="background: #cc0000; color: #fff; font-weight: strong">
          {{ teamStat.total }}
        </td>
      </tr>
    </thead>
    <tbody id="{{ teamStat.teamName.toLowerCase() }}">
      <tr>
        <td style="background: #000; color: #fff">POS</td>
        <td style="background: #000; color: #fff">PLAYER</td>
        <td style="background: #000; color: #fff">PTS</td>
      </tr>
      <tr *ngFor="let person of teamStat.people">
        <td>{{ person.position }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.points }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
